

<div class="block">
	<div class="row top-section">
		<form role="form">
		<div class="col-sm-9">
			<input type="text" class="form-control" ng-model="skillData.newItem" id="inputUsername" ng-model="inputUsername" placeholder="Form Building">
		</div>
		<div class="col-sm-3">
			<button class="btn btn-success"  ng-submit="addSkill()" ng-click="addSkill()">Add</button>
		</div>
		</form>
	</div>
	<article class="repeater" ng-repeat="thing in skills">
		<div class="row top-section">
			<div class="col-sm-10 ">
				<div class="edit-hidden thing-appearing animated" ng-hide="!editswitch">
					<input type="text" class="form-control" id="inputUsername" ng-model="inputUsername" placeholder="{{thing.name}}">
				</div>
				<div class="thing-leaving animated" ng-hide="editswitch">{{thing.name}}</div>
			</div>
			<div class="col-sm-2">
				<a ng-click="editswitch = !editswitch" class="edit">edit</a>
			</div>
		</div>
		<div class="edit-field" ng-hide="!editswitch">
			<textarea class="form-control" id="inputIntroduction" ng-model="inputIntroduction" placeholder="{{thing.tooltip}}" rows="4">{{thing.tooltip}}</textarea>
		</div>
	</article>
</div>
