<header> 
<!-- ng-controller="AuthCtrl"> -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo-intro" href="#/"><span class="logo-intro">unstructured
      <br/>-networking</span></a>
      <!-- <span class="logo-outro">i.d</span>e -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li><a href="#/listings">Listings</a></li> -->
        <li><a href="#/profile/dskfjkdshf">Profile</a></li>
        <li><a href="#/account">Account</a></li>
<!--         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
          </ul>
        </li> -->
      </ul>
      <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
            <h5>Hello {{greeting}}</h5>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="inputEmail" placeholder="email">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" ng-model="inputPassword" placeholder="password">
        </div>
        <button class="btn btn-default" ng-click="login()" ng-submit="login">Sign In</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>